body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.card-body {
  height: 220px;
}

.bodyTotal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sumCompanies {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 32px;
}
