body {
  overflow-y: scroll;
  background-color: $colorBody;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.card {
  border-color: $colorCardBorder;
  &-body {
    height: 220px;
    background-color: $colorCardBody;
  }
  &-header {
    border-color: $colorCardBorder;
    background-color: $colorCardHeader;
    color: $colorWhite;
  }
}

.bodyTotal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sumCompanies {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid $colorBlack;
  border-radius: 50%;
  background-color: $colorBgcSumComp;
  color: $colorWhite;
  font-size: 32px;
}
