body {
  background-color: $colorBody;
}

.card {
  border-color: $colorCardBorder;
  &-body {
    background-color: $colorCardBody;
  }
  &-header {
    border-color: $colorCardBorder;
    background-color: $colorCardHeader;
    color: $colorWhite;
  }
}

.field {
  &-group {
    position: relative;
    display: flex;
    width: 100%;
    span {
      background-color: $colorBgcSumComp;
      color: $colorWhite;
    }
  }
  &-invalid {
    display: none;
    width: 100%;
    color: $colorRed;
    text-align: center;
    &--conditions {
      text-align: left;
      font-size: 15px;
    }
  }
}

.form-control:not(#male) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
