//main colors
$colorBody: #d1eeff;
$colorWhite: #fff;
$colorBlack: #000;
$colorRed: #dc3545;
//card colors
$colorCardBorder: #3d0082;
$colorCardHeader: #495efa;
$colorCardBody: lighten($colorCardHeader, 32%);
//color partners
$colorBgcPartner: #6c5ef2;
$colorBgcPartnerPerc: darken($colorBgcPartner, 10%);
//other colors
$colorIndicators: #b5b3b2;
$colorBgcSumComp: #8abcfa;
