.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#floatingCirclesG {
  position: relative;
  margin: auto;
  width: 83px;
  height: 83px;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.f_circleG {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: white;
  -webkit-animation-name: f_fadeG;
  animation-name: f_fadeG;
  -webkit-animation-duration: 1.04s;
  animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
}

#frotateG_01 {
  top: 34px;
  left: 0;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

#frotateG_02 {
  top: 10px;
  left: 10px;
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

#frotateG_03 {
  top: 0;
  left: 34px;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

#frotateG_04 {
  top: 10px;
  right: 10px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

#frotateG_05 {
  top: 34px;
  right: 0;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

#frotateG_06 {
  right: 10px;
  bottom: 10px;
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}

#frotateG_07 {
  bottom: 0;
  left: 34px;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}

#frotateG_08 {
  bottom: 10px;
  left: 10px;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

@keyframes f_fadeG {
  0% {
    background-color: #120da3;
  }

  100% {
    background-color: white;
  }
}

@-webkit-keyframes f_fadeG {
  0% {
    background-color: #120da3;
  }

  100% {
    background-color: white;
  }
}

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.card-body {
  height: 220px;
}

.bodyTotal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sumCompanies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 32px;
}

.listCompanies {
  overflow-y: auto;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 0;
  border-radius: 0.25em;
}

.list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.partners {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 270px;
}

.partnersBlock {
  display: none;
}

.partnersList {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 220px;
  list-style-type: none;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.partnersItem {
  position: relative;
  margin: 10px;
  margin-left: 0;
  padding: 10px 15px 15px;
  width: 75%;
  border: 2px solid #000;
  border-right: 0;
  background-color: #ecf833;
  color: #fa5757;
  white-space: nowrap;
  font-size: 22px;
}

.partnersItem:after {
  position: absolute;
  top: 10%;
  left: 86%;
  z-index: -1;
  width: 46px;
  height: 46px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #ecf833;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.partnersPercent {
  position: absolute;
  top: 3%;
  left: 110%;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #6c5ef2;
  color: #fff;
  font-size: 20px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
}

.sortContent {
  padding: 0 10px;
}

.sortBtn {
  position: relative;
  overflow: hidden;
  width: 13px;
  height: 10px;
  color: #c0b9b9;
  cursor: pointer;
}

.sortBtnBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  font-size: 22px;
}

.sortBtnUp {
  margin-bottom: 5px;
}

.sortBtnDown:before {
  position: absolute;
  top: -11px;
}

.sortBtnActive {
  color: #403d3d;
}

.exit {
  margin-left: 20px;
}

.exitBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
}

.bodyLocation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.graphContainer {
  position: relative;
  height: 210px;
}

.graphPlaceholder {
  width: 100%;
  height: 100%;
}

#graph {
  width: 210px;
}
/*# sourceMappingURL=companies.css.map */
